= simple_form_for(@riff_photo, :html => { :multipart => true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :photo_name
    = f.input :owner
    = f.input :shoutout
    = f.file_field :image
  .form-actions
    = f.button :submit
