%p#notice= notice

%p
  %b Photo name:
  = @riff_photo.photo_name
%p
  %b Owner:
  = @riff_photo.owner
%p
  %b Shoutout:
  = @riff_photo.shoutout
%p
  %b Image:
  = @riff_photo.image

= link_to 'Edit', edit_riff_photo_path(@riff_photo)
\|
= link_to 'Back', riff_photos_path
