%h3 List of profiles
= form_tag profiles_path, method: :get, class: "form-search", role: "search" do
  .input-group
    =text_field_tag 'search', params[:search], class: "form-control", id: "srch-term", placeholder: "Search"
    .input-group-btn
      %button.btn.btn-default{:style => "width:40px;"}
        %span.glyphicon.glyphicon-search
%ul
  - @profiles.each do |profile|
    %li.btn.btn-primary{class: "profile-#{profile.id}"}
      = link_to profile_path(profile) do 
        = profile.firstName
      |
      = link_to "Delete", 'javascript:void(0);', class: "delete-profile", profile_id: profile.id
    %br