/ %div{"ng-app" => "riffApp"}
/   .view-container
/     .view-frame.animate-view{"ng-view" => ""}


%h2 upload your new riff

= simple_form_for(@riffblob, :html => { :multipart => true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :photo_name
    = f.input :owner
    = f.input :shoutout
    = f.file_field :image
  .form-actions
    = f.button :submit

%br
%br
%br
%h2 here is what other people are riffing about.....

- @riffblobs.each do |riffblob|
  Name:
  = riffblob.image_file_name
  %br
  Owner:
  = riffblob.owner
  %br
  \#:
  = riffblob.shoutout
  %br
  URL:
  = riffblob.image
  %br
  ||||||||||||||||||||
  %br



