= simple_form_for(@riffblob, :html => { :multipart => true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :shoutout
    = f.file_field :image
  .form-actions
    = f.button :submit
