<h1>riffblob upload</h1>
<%= link_to 'Add riffblob', new_riffblob_path =%>
<br>
<% @riffblobs.each do |riffblob| %>
  <br>
  <%= riffblob.id%>
  <br>
  <%= riffblob.shoutout%>
  <br>
  <%= riffblob.url%>
  <br>
  <%= link_to 'show', riffblob_path(riffblob)%>
<% end %>