%p#notice= notice

%p
  %b Photo name:
  = @riffblob.url
%p
  %b Owner:
  = @riffblob.user_id
%p
  %b Shoutout:
  = @riffblob.shoutout
%p
  %b Image:
  = @riffblob.pointer

= link_to 'Edit', edit_riffblob_path(@riffblob)
\|
= link_to 'Back', riffblobs_path
